
.searchbar-wrapper
{
 width:100%;
 padding:20px;
 justify-content: center;
 background-color: #eff5ff;
 margin:0px auto;   
 padding-top:100px;
 background-image: linear-gradient( 
    270deg
    , rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url(../../assets/images/bg2.png);    
 background-size: cover;
 background-repeat: no-repeat;
}
.wth-200
{
    max-width:200px;
    width:100%;
}
.ht-45
{
    height:45px;
}
.ft-inputs 
{
    border:1px solid #cccccc;
    width:250px;
    height:45px;
    border-radius:0;
    box-shadow: rgb(28 39 43 / 20%) 0px 5px 8px;
}
.d-flex
{
    display: flex;
}